{{template "base" .}}

{{define "page-title"}}
    Home
{{end}}


{{define "content"}}

    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center mt-4">Welcome Home</h1>
                <p>
                    Your home away form home, set on the majestic waters of the Atlantic Ocean, this will be a vacation to remember.
                    Your home away form home, set on the majestic waters of the Atlantic Ocean, this will be a vacation to remember.
                    Your home away form home, set on the majestic waters of the Atlantic Ocean, this will be a vacation to remember.
                    Your home away form home, set on the majestic waters of the Atlantic Ocean, this will be a vacation to remember.
                    Your home away form home, set on the majestic waters of the Atlantic Ocean, this will be a vacation to remember.
                    Your home away form home, set on the majestic waters of the Atlantic Ocean, this will be a vacation to remember.
                </p>
            </div>
        </div>
    </div>
    
{{end}}
